<!-- apps/boards/templates/boards/new_topic.html -->
{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}

        {% render_field field class="form-control" %}

        {% if field.help_text %}
          <small class="form-text text-muted">
            {{ field.help_text }}
          </small>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}

{#  
 <form method="post" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="8YY7p1PNbej8dtIRqBDQ9uVMyFaKj1ZAGtSYDwrqzESkKjODDHpeQ9zWuRVVR4Gf">

    
      <div class="form-group">
        <label for="id_subject">Subject:</label>

        <input type="text" name="subject" maxlength="255" class="form-control" required id="id_subject">
      </div>
    
      <div class="form-group">
        <label for="id_message">Message:</label>

        <textarea name="message" cols="40" rows="5" placeholder="What is on your mind?" maxlength="4000" class="form-control" required id="id_message">
        </textarea>
        
          <small class="form-text text-muted">
            The max length of the text is 4000.
          </small>
        
      </div>

    <button type="submit" class="btn btn-success">Post</button>
  </form>
#}

{#  

The Django Forms API does much more than processing and validating the data. It also generates the HTML for us.

The form have three rendering options: form.as_table, form.as_ul, and form.as_p. It’s a quick way to render all the fields of a form. As the name suggests, the as_table uses table tags to format the inputs, the as_ul creates an HTML list of inputs, etc.

#}